body {
    padding-top: 40px;
}

.main {
    min-width: 320px;
}
.row {
    margin: 0px;
}
.row .span1 {
    width: 30px;
    padding: 0;
    margin: 0;
    padding: 5px;
}
.row .beat {
    background-color: #EEE;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 30px;
    height: 30px;
}
.row:hover .beat{
    background: #DDD;
}
.row .beat:hover {
    background: #CCC;
}
.row .beat.pressed {
    background-color: #FE2;
}
.beat.pressed:hover {
    background-color: #FC0;
}
.play, .time {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #F00;
}
.play {
    position: relative;
    width: 40px;
    height: 40px;
}
.loading .play{
    background: url(/static/img/loader.gif) center center no-repeat;
}
.icon-play, .icon-pause {
    display: none;
    position: absolute;
    left: 14px;
    top: 11px;    
}
.playing .icon-pause {
    display: block;
}
.paused .icon-play {
    display: block;
}
.time {
    margin: 0 auto;
    margin-top: 20px;
    width: 20px;
    height: 20px;
}
.step.time {
    background-color: black;
}
.step.beat.pressed {
    background-color: black;
}
