                    <div class="main">
                    <div class="step-sequencer">
                        <div class="controls">
                            <div class="row timeline">
                                <div class="span1">
                                    <div class="play">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Kick:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Snare:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Low-conga:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Mid-conga:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">High-conga:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Closed high hat:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Clap:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Cymbal:</div>
                        </div>
                    </div>
                </div>
