
                <div class="main loading">
                    <div class="step-sequencer">
                        <div class="row timeline">
                            <div class="span1">
                                <div class="play">
                                    <i class="icon-play"></i>
                                    <i class="icon-pause"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">k</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">s</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Llc</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">mc</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">hc</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">hh</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">cl</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">cb</div>
                        </div>
                        <div class="row extra">
                            <div class="span1">
                                <div class="clear btn">
                                    Clear
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
