{% extends 'base.html' %}    

{% block content %}
            <div class="hero-unit">
                <h1>SoundAuth Secure Synth Logic</h1>
                <p>Ever want to logic with your mad musical composition skills? Now you can.</p>
                    <div class="main">
                    <div class="step-sequencer">
                        <div class="controls">
                            <div class="row timeline">
                                <div class="span1">
                                    <div class="play">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Kick:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Snare:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Low-conga:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Mid-conga:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">High-conga:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Closed high hat:</div>
                        </div>
                        <div class="row noise">
                            <div class="span1 desc">Clap:</div>
                        </div>
                    </div>
                </div>
                <p><a class="btn btn-primary btn-large" href="/signup/">Sign Up</a></p>
            </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="/static/js/soundlib.js"></script>
<script src="/static/js/sequencer.js"></script>
{% endblock %}